//
   Created by ed on 07.04.17.

div.container
    div.row.visible-md.visible-lg
        div.col-sm-3.visible-lg
            div.row.userheader-appname
                div.col-xs-6
                    h1
                        a.userheader-appname.userheader-appname-brand.userheader-appname-brand__joking= 'Joking'
                div.col-xs-6
                    h1
                        a.userheader-appname.userheader-appname-brand.userheader-appname-brand__hazard= 'Hazard'
        div.col-sm-3.visible-md
            div.row.userheader-appname
                div.col-xs-6(align='right')
                    h1
                        a.userheader-appname.userheader-appname-brand.userheader-appname-brand__joking(style='text-align: right')= 'J'
                div.col-xs-6(align='left')
                    h1
                        a.userheader-appname.userheader-appname-brand.userheader-appname-brand__hazard(style='text-align: left')= 'H'
        div.col-sm-8
            div.row
                h1.col-xs-6.userheader-login
                h1.col-xs-6.userheader-score-group
                    | Score:
                    |
                    small.userheader-score
        div(align="right").col-sm-1
<<<<<<< HEAD
            image(src="/images/Users-Exit-icon.webp").userhead.userheader-logout
=======
            image(src=exiticon).userhead.userheader-logout
>>>>>>> baacede1307f7c2bbf11eba3d49f0ccb6063e6d7
    div.row.visible-xs.visible-sm
        div.row
            div.col-xs-9
                div.row.userheader-appname
                    div.col-xs-6
                        h1
                            a.userheader-appname.userheader-appname-brand.userheader-appname-brand__joking= 'Joking'
                    div.col-xs-6
                        h1
                            a.userheader-appname.userheader-appname-brand.userheader-appname-brand__hazard= 'Hazard'
            div(align="right").col-xs-3
<<<<<<< HEAD
                image(src="/images/Users-Exit-icon.webp").userhead.userheader__logout
=======
                image(src=exiticon).userhead.userheader__logout
>>>>>>> baacede1307f7c2bbf11eba3d49f0ccb6063e6d7
        dov.row
            h1.col-xs-6.userheader-login
            h1.col-xs-6.userheader-score-group
                | Score:
                |
                small.userheader-score
