//
   Created by ed on 25.03.17.

div.container.appname
    div.row.visible-lg
        div.col-md-6
            h1
                a.appname.appname-brand.appname-brand__joking(style='font-size: 170px')= 'Joking'
        div.col-md-6
            h1
                a.appname.appname-brand.appname-brand__hazard(style='font-size: 170px')= 'Hazard'
    div.row.visible-md
        div.col-md-6
            h1
                a.appname.appname-brand.appname-brand__joking(style='font-size: 140px')= 'Joking'
        div.col-md-6
            h1
                a.appname.appname-brand.appname-brand__hazard(style='font-size: 140px')= 'Hazard'
    div.row.visible-sm
        div.col-sm-6
            h1
                a.appname.appname-brand.appname-brand__joking(style='font-size: 109px')= 'Joking'
        div.col-sm-6
            h1
                a.appname.appname-brand.appname-brand__hazard(style='font-size: 109px')= 'Hazard'
    div.row.visible-xs
        div.col-xs-6
            h1
                a.appname.appname-brand.appname-brand__joking(style='font-size: 40px')= 'Joking'
        div.col-xs-6
            h1
                a.appname.appname-brand.appname-brand__hazard(style='font-size: 40px')= 'Hazard'
